/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0d0d0d;
  color: white;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 32px;
  color: #00eaff;
}

/* Input box */
textarea {
  width: 100%;
  height: 140px;
  padding: 12px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #1a1a1a;
  color: white;
  resize: none;
  margin-bottom: 20px;
}

/* Buttons */
button {
  background: #00eaff;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  color: #000;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
  transition: 0.2s;
}

button:hover {
  background: #03c6d8;
}

/* Output boxes */
.output-box {
  background: #141414;
  padding: 15px;
  border-radius: 10px;
  margin-top: 20px;
  border-left: 5px solid #00eaff;
}

.output-title {
  font-size: 20px;
  margin-bottom: 10px;
  color: #00eaff;
}

audio {
  width: 100%;
  margin-top: 10px;
  }
